*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.container{
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
}
.section-1{
    height: 80vh;
    background:
    url(../img/main.jpg) ;
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    padding: 45px;
}

.logo{
    text-decoration: none;
    color: white;
    font-size:2.5rem;
    font-weight: 800;
}

.nav-bar{
    display: flex; 
    justify-content:space-between;
}

.items .nav-item:not(:last-child){
    padding-right: 2rem;
}

.nav-item{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    
}

/**/
h1{
    font-size: 5.5rem;
    color: white;
    padding-bottom: 2rem;
}

.content-page1{
    margin: auto;
    
    display: flex; 
    flex-direction: column;
    
}

.subtext{
    color: white;
    font-size: 2.5rem;
    margin: auto;
    padding-bottom: 2rem;
}
button{
    margin: auto;
    background-color: #2196F3; /* Green */
    border: none;
    color: white;
    padding: 18px 40px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/*section-2*/
.section-2{
    display: flex;
   
    padding: 45px;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro-photo{
    display: flex;
    flex-direction: column;
    
}

h2{
    font-size: 4rem;
    color: black;
    padding-bottom: 1rem;
    margin: auto
}
hr{
    width: 150px;
    height: 2px;
    margin: auto;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

.subtext-about{
    color: black;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: 2rem;
    width: 50%;
    text-align: justify;
    
}

.photos{
    display: flex;
    flex-flow: row wrap;
    flex-basis:60%;
    justify-content: space-around;
}
.photo1{
    max-height: 230px;
    flex-basis:55%;
   padding-bottom:30px;
}
.photo2{
    max-height: 230px;
    flex-basis: 40%;
    padding-bottom:30px;
}


.section-3{
    display: flex;
    padding: 45px;
    flex-direction: column;
    align-content: space-between;
    background-color: aliceblue;
}
.services{
    display: flex;
    justify-content: center;
   
}
i{
    color: #2196F3;
    margin-bottom: 25px; 
}

.service{
    flex-basis:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sub-service{
    font-size: 2rem;
    color: black;
    padding-bottom: 1rem;
    margin: auto
}
.service-text{
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 1rem;
    margin: auto;
    width: 55%;
}
.features{
    display: flex;
    flex-direction: column;
} 

/*-------------------------------------------------------------*/
.section-4{
    display: flex;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
   
}
.comments{
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    max-width: 50%;
    line-height: 1.8;
    margin: auto;
}
.comment{
    font-size: 2rem;
    color: gray;
    padding-bottom: 1rem;
}
/*-------------------------------------------------------------*/
.section-5{
    display: flex;
    padding: 45px;
    flex-direction: column;
    align-content: space-between;
    background-color: aliceblue;
}
.seller{
    display: flex;
    flex-basis:80%;
    margin: auto;
}
.subscribe-input{
    margin-right: 15px;
    width: 400px;
    padding: 5px;
}
/*-------------------------------------------------------------*/
.section-6{
    display: flex;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
    background-color: #414A4F;
}
.about{
    font-size: 1.5rem;
    color: white;
    margin: auto;
}
.media{
    margin: auto;
}



/* Medium screens */
@media all and (max-width: 900px) {
    
    .section-1{
        padding-top: 0px;
        align-items:center;
    }
    .subtext-about{
        width: 80%;
    }
    h1{
        min-width: 50%;
        flex-basis:30%;
        margin: auto;
        align-self:center;
    }
    .comments{
     min-width: 80%;
    }
    .logo{
        margin-bottom: 10px;
       flex:1;
       align-self:center;
    }
    .nav-bar{
        flex-direction: column;
        align-items:center;
        margin: auto;
    }

    .photo1,.photo2 {
        flex-basis:100%;
    }
    .photos {
        
        flex-basis:40%;
    }
    .seller{
        flex-direction: column;
        align-content:space-between;
    }
    .subscribe-input{
        margin-bottom: 10px;
    }
    .services{
        flex-direction: column;
    }
  }


 


